.featured-song {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.song-link {
    display: flex;
    justify-content: center;
    width: 80%;
}

.song-image {
    width: 100%;
}

.song-info {
    text-align: center;
}

.song-title {
    text-decoration: none;
    color: #ffacf9;
}

.song-language {
    text-decoration: none;
    color: #ffacf9;
}