.home-page {
    
}

.section {
    display: grid;
    grid-template-areas: 
    'title title'
    'description image';
}

.featured-section {
    
}

.homepage-title {
    font-size: 3rem;
    grid-area: title;
}

.homepage-description {
    grid-area: description;
    font-size: 1.5rem;
    font-weight: bold;
}

.homepage-image {
    width: 100%;
    grid-area: image;
}

.songs {
    display: flex;
    justify-content: space-between;
}

.songlink-list {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2rem;
}

.songlink-item {
    border: 1px solid #ffacf9;
    box-shadow: 0px 0px 15px black;
}

.song-link {
    color: #ffacf9;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    height: 30vh;
}

.songlink-image {
    object-fit: contain;
}

.songlink-text {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.song-page {
    display: flex;
}

.video-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 5vw;
    width: 32vw;
}

.lyrics-column {
    font-size: 1.3rem;
}

.embedded-video {
    position: sticky;
    top: 0;
    left: 0;
    width: 32vw;
    height: 18vw;
}

.description-box {
    border-color: #ffacf9;
    box-shadow: 0px 0px 5px #ffacf9;
    border-radius: 1rem;
    text-align: left;
}

.description-box legend {
    font-weight: bold;
    font-size: 1.3rem;
}

.associated-media {
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.associated-media p {
    font-size: 1.3rem;
    margin-top: 0;
}

.learn-progress {
    border: 3px solid #ffacf9;
    height: 4rem;
    text-align: left;
}

.learn-progress legend {
    font-size: 1.3rem;
}

.progress-bar {
    height: 2rem;
}

.progress-bar div {
    display: flex;
    width: 100%;
    height: 100%;
}

.progress-bar div div {
    background-color: #ffacf9;
    width: 20%;
    height: 80%;
    margin-right: 1%;
}